.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #78909c;

    &--add-blog {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: large;
        color: white;
        text-decoration: none;
        margin: 0.5em;
    }
}